button {
  margin-right: 10px;
}

.btns-row {
  margin-bottom: 20px;
}

.ingredient-row {
  display: block;
  margin-bottom: 10px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
