<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="input-wrap">
        <input type="text" class="form-control" [(ngModel)]="serverName">
      </div>
      <p>Server name: {{ serverName }}</p>
      <div class="btn-wrap">
        <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add new Server</button>
      </div>

      <p *ngIf="isServerCreated; else noServer">Server creation status: {{ serverCreationStatus }}</p>
      <ng-template #noServer>
        <p>No server was created.</p>
      </ng-template>
      <app-server *ngFor="let server of servers"></app-server>
    </div>
  </div>
</div>
