<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group" *ngIf="onlyOdd">
        <li
          class="list-group-item"
          *ngFor="let number of oddNumbers"
          [ngClass]="{ odd: number % 2 !== 0 }"
          [ngStyle]="{ background: number % 2 !== 0 ? '#ccc' : '#fff' }"
        >
          {{ number }}
        </li>
      </ul>
      <ul class="list-group" *ngIf="!onlyOdd">
        <li
          class="list-group-item"
          *ngFor="let number of evenNumbers"
          [ngClass]="{ even: number % 2 === 0 }"
        >
          {{ number }}
        </li>
      </ul>
      <p appBasicHighlight>I am styled with basic directive!</p>
      <p appBetterHighlight>I am styled with better directive!</p>
    </div>
  </div>
</div>
